@import "bootstrap/dist/css/bootstrap.min.css";

.custom-navbar {
  background-color: #ffffff;
}
.custom-footer {
  background-color: #d50000;
}
.custom-footer p {
  color: #ffffff;
}

.custom-navbar .nav-link {
  color: #333;
}

.custom-navbar .nav-link:hover {
  color: #aeaeae;
}

.custom-h1 {
  font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}
