@import "bootstrap/dist/css/bootstrap.min.css";

.custom-navbar {
  background-color: #ffffff;
}
.custom-footer {
  background-color: #d50000;
}
.custom-footer p {
  color: #ffffff;
}

.custom-navbar .nav-link {
  color: #333;
}

.custom-navbar .nav-link:hover {
  color: #aeaeae;
}

.custom-h1 {
  font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*custom cards*/
.new-arrivals .custom-card {
  width: 100%;
  max-width: 300px;
  height: 350px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.2rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  margin: auto;
  text-align: center;
}

.new-arrivals .custom-card-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.new-arrivals .custom-card-details {
  color: black;
  display: grid;
}

.new-arrivals .text-title {
  font-size: 1em;
  font-weight: bold;
  font-family: poppins, sans-serif;
}

.new-arrivals .custom-card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #d50000;
  color: #fff;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
  cursor: pointer;
}

/* Hover Effects */
.new-arrivals .custom-card:hover {
  border-color: #f80000;
  box-shadow: 0 4px 18px rgba(96, 52, 52, 0.25);
}

.new-arrivals .custom-card:hover .custom-card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}