@import "bootstrap/dist/css/bootstrap.min.css";

/* navbar */
#mainNavbar {
  transition: top 0.4s ease-in-out;
}

.navbar-hidden {
  top: -80px;
}

.custom-navbar {
  background-color: #ffffff;
}
.custom-footer {
  background-color: #d50000;
}
.custom-footer p {
  color: #ffffff;
}

.custom-navbar .nav-link {
  color: #333;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  margin-left: 5px;
}

/* hover background for navbar */
.navbar .nav-link {
  position: relative;
  transition: color 0.3s ease;
}

/*underline hover animation */
.navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: linear-gradient(45deg, #a74242, #ff3333);
  transition: width 0.3s ease;
}

/* on hover */
.navbar .nav-link:hover {
  color: #d50000;
}

.navbar .nav-link:hover::after {
  width: 100%;
}

.custom-h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 4px;
}

/* carousel shadow */
.carousel-item {
  position: relative;
}

.carousel-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  z-index: 1;
}

.carousel-caption {
  position: absolute;
  z-index: 2;
}


/*custom cards*/
.new-arrivals .custom-card {
  width: 100%;
  max-width: 300px;
  height: 350px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.2rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
  margin: auto;
  text-align: center;
}

.new-arrivals .custom-card-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.new-arrivals .custom-card-details {
  margin-top: 0.5rem;
  color: black;
  display: grid;
}

.new-arrivals .text-title {
  font-size: 1em;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

.new-arrivals .custom-card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #d50000;
  color: #fff;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
  cursor: pointer;
}

/* Hover Effects */
.new-arrivals .custom-card:hover {
  border-color: #f80000;
  box-shadow: 0 4px 18px rgba(96, 52, 52, 0.25);
}

.new-arrivals .custom-card:hover .custom-card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

.card-title-best-seller {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: #333;
}

/* for button customized red color */
.btn-primary {
    background-color: #d50000;
    border: none;
    
}

.btn-primary:hover {
  background-color: #b20000;
}

.btn-primary:active {
  background-color: #b20000;
}

.btn-primary:focus {
  background-color: #b20000;
  box-shadow: none; 
}

